[Unit]
Description=TCP M2 Encoder Router
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/truckdevil-tcp
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target