[Unit]
Description=J17084UTDuck Service
After=network.target remoteproc.target

[Service]
Type=simple
ExecStart=/usr/bin/j17084truckduck_host -v -l /var/log/j17084truckduck.log # clear the log file if needed
Restart=on-failure
User=root
Environment=PYTHONUNBUFFERED=1


[Install]
WantedBy=multi-user.target
