[Unit]
Description=PLC4UTDuck Service
After=network.target remoteproc.target

[Service]
Type=simple
ExecStart=sudo /usr/bin/plc4trucksduck_host
Restart=on-failure
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target

