[Unit]
Description=PLC for Trucks Duck Service
After=truck_duck_initialized.target
Wants=truck_duck_initialized.target

[Service]
Environment=LD_LIBRARY_PATH=/usr/local/lib
WorkingDirectory=/lib/firmware/
ExecStart=/usr/bin/python3 /usr/local/bin/plc4trucksduck_host.py
Restart=on-failure

[Install]
WantedBy=multi-user.target